/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Josefin Sans', sans-serif;
}
h2,
h3,
h4,
h5 {
  font-family: 'Fjalla One', sans-serif;
  color: #124d87;
  padding: 1% 0;
}
h1 {
  font-size: 8rem;
  font-family: 'Fjalla One', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
  padding: 1% 0;
}
body {
  margin: auto;
}
button {
  background-color: #62b6cb;
  color: #ebf5ff;
  border-radius: 4px;
  padding: 5px 15px;
  width: fit-content;
  height: 25px;
}
footer {
  position: relative;
  bottom: 0%;
  width: 100%;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 2% 0;
  height: fit-content;
  background-color: white;
  opacity: 0.7;
  overflow: hidden;
  position: fixed;
  top: 0;
}
.nav img {
  width: auto;
  height: 40px;
}
.nav nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  align-items: center;
}
.nav a {
  text-decoration: none;
  color: #62b6cb;
  font-size: 1.2rem;
}
.top {
  width: 100%;
  height: 500px;
  color: white;
  background-image: linear-gradient(45deg, red, blue);
  text-align: center;
  padding: 200px 0;
}
.top img {
  width: 100%;
  height: auto;
  opacity: 0.8;
  margin: 2% 0;
}
.about,
.users {
  margin: 2% auto;
  padding: 20px;
  border-width: 2px;
  border-style: solid;
  height: 500px;
  width: 96%;
  border-image: linear-gradient(to bottom, red, blue) 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.users {
  height: fit-content;
}
.voters,
.candidates {
  display: flex;
  justify-content: space-evenly;
}
.person {
  width: 40%;
}
.person img {
  max-width: 200px;
  max-height: 400px;
  width: auto;
  height: auto;
}
footer {
  background-color: #62b6cb;
  text-align: center;
  color: white;
}
.hp footer {
  position: relative;
  bottom: end;
}
.cont {
  background-image: linear-gradient(45deg, red, blue);
}
form {
  width: 96%;
  margin: 20px auto;
}
form input[type=text],
form select,
form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
form input[type=submit] {
  background-color: #62b6cb;
  color: #ebf5ff;
  border-radius: 4px;
  padding: 5px 15px;
  width: fit-content;
  height: 25px;
}
form input[type=submit]:hover {
  background-color: #ebf5ff;
  color: #124d87;
  border-radius: 4px;
  padding: 5px 15px;
  width: fit-content;
  height: 25px;
}
