// Navigation code here
.nav{
    .disp();
    margin:auto;
    padding:2% 0;
    height: fit-content;

    img{
        width:auto;
        height: 40px;
    }
    nav{
        .disp();
        max-width: 50%;
        align-items: center;


    }
    a{
        .a-style();
    }
}