
// THEMES

//Color Vars
@r1 : #c43835;
@r2: #f7646c;
@wh: #ebf5ff;
@b1: #62b6cb;
@b2: #124d87;

//Fonts
@hfont: 'Fjalla One', sans-serif;
@pfont: 'Josefin Sans', sans-serif;
@title: 'Lobster', cursive;



